APP_NAME="DealHub"
APP_ENV=production
APP_DEBUG=false
APP_URL=https://coupon.zemmart.com
APP_TZ=UTC
APP_KEY=
DB_HOST=localhost
DB_PORT=3306
DB_NAME=u949849436_dealhub
DB_USER=u949849436_app
DB_PASS=
COOKIE_SECURE=true
